/* Body Settings */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

/* Hero Section */
.hero {
    background-image: url('./images/crosstrek5.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero-content h1 {
    font-size: 4rem;
    font-weight: bold;
}

.hero-content h3 {
    font-size: 2rem;
}

.hero-content p {
    font-size: 1.5rem;
}

.hero .btn {
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1.2rem;
}

/* Key Features Section */
.key-features {
    padding: 60px 0;
    background-color: #fff;
}

.key-features h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.key-features .feature-box {
    padding: 20px;
}

.key-features .feature-content {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.key-features .feature-content:hover {
    transform: translateY(-10px);
}

.key-features .fa {
    color: #0073e6;
    margin-bottom: 20px;
}

.key-features .fa-3x {
    font-size: 3rem;
}

.key-features .feature-box h4 {
    margin-top: 15px;
    font-size: 1.5rem;
}

/* Gallery Section */
.gallery {
    padding: 60px 0;
    background-color: #f9f9f9;
}

.gallery img {
    border-radius: 8px;
    margin-bottom: 15px;
    width: 100%;
    height: 350px;
    object-fit: cover; /* Maintain aspect ratio */
}

/* Contact Section */
.contact {
    padding: 40px 0;
    background-color: #0073e6;
    color: white;
}

.contact h2 {
    font-size: 2rem;
}

.contact p {
    font-size: 1.5rem;
}

.contact a {
    color: #fff;
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content h3 {
        font-size: 1.5rem;
    }

    .key-features .feature-box {
        margin-bottom: 30px;
    }

    .gallery img {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content h3 {
        font-size: 1.2rem;
    }
}
